---
import Icon from './Icon.astro';
import type { iconPaths } from './IconPaths';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			Made with ❤️ by <a target="_blank" href="https://www.imsheth.com/?utm_source=bhumika_sheth&utm_medium=web&utm_campaign=bhumika_sheth_footer_website&utm_id=BS1">imsheth</a>
		</p>
		<p>&copy; {currentYear} Bhumika Sheth</p>
	</div>
	<p class="socials">
		<a target="_blank" href="https://twitter.com/thebhumikasheth" class="social">
			<span class="sr-only">Twitter</span>
			<Icon icon="twitter-logo" />	
		</a>
		<a target="_blank" href="https://www.linkedin.com/in/thebhumikasheth/" class="social">
			<span class="sr-only">LinkedIn</span>
			<Icon icon="linkedin-logo" />	
		</a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
