---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>About Me</h2>
		<p>I’ve been called a storyteller, explorer, educator, digital nomad, entrepreneur, and psychotherapist.</p>
		<p>I was born in Surat, Gujarat, India, and have had the privilege of working globally. I often describe myself as a nomad, constantly packing and repacking my suitcase, humbled and inspired by humanity in its many diverse contexts. I founded Samvedna Wellbeing in 2019.</p>
		<p>At my core, I am deeply passionate about helping people and witnessing transformation. Whether through my private practice, writing, consulting, or research, I feel immense gratitude for the work I do.</p>
		<p>My personal experiences living through adversity, navigating complex relationships, and continuously exploring the human experience have profoundly shaped my approach to therapy.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Therapy Approach</h2>
		<p>My approach to therapy integrates Eastern philosophy and Western psychology, combining the best of both to support clients in navigating human suffering, change, and growth. My work often helps individuals explore their inner world through compassionate self-inquiry and engage with the world in an authentic and meaningful way.</p>
		<p>I offer a holistic, trauma-informed approach that incorporates mind-body awareness, contextual storytelling, and evidence-based interventions to promote healing and transformation. Specializing in identity exploration, existential crises, adjustment issues and relationship challenges, I blend various therapeutic modalities, including Cognitive Behavioral Therapy (CBT), Internal Family Systems (IFS),  and Somatic Approaches.</p>
		<p>I recognize the profound influence of cultural narratives and personal histories on mental health. As a compassionate therapist, I create a safe, non-judgmental space where individuals can explore their challenges, build resilience, and achieve emotional well-being.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
